textarea {
	overflow: hidden;
}

.ui-autocomplete { height: 300px; overflow-y: scroll; overflow-x: hidden; }

.ui-autocomplete-category {
	font-weight: bold;
	padding-bottom: 10px;
	padding-top: 15px;
}
