<p>
    <label for="{{ field_id.to }}">To</label>
    <textarea class="widefat" id="{{ field_id.to }}" name="{{ field_name.to }}">{{ field_value.to }}</textarea>
</p>

<p>
    <label for="{{ field_id.subject }}">Subject</label>
    <textarea class="widefat" id="{{ field_id.subject }}" name="{{ field_name.subject }}">{{ field_value.subject }}</textarea>
</p>

<p>
    <label for="{{ field_id.body }}">Body</label>
    <textarea class="widefat" id="{{ field_id.body }}" name="{{ field_name.body }}">{{ field_value.body }}</textarea>
</p>
